*.iml
.idea/**
**/.idea/
**/**/.idea/**
.idea/
**/target/**
**/**/target/**
**/target/
/target/
target/**
*.ipr
*.iws
*.log
*.*_orig
**.classpath**
**.project**
**.settings**
*.class
*.jar
.sass-cache
.sass-cache/**
*.jpr
/deploy
/myAccountIT/tomcat
*/react/*.js
client/src/main/src/styles/main.css
client/src/main/src/common/react/*.js
myAccountMobile/dist/*
**/.bin/*
**/node_modules/*
myAccountMobile/src/main/webapp/resources/*/*.css
